<div class="task-list border rounded-lg">
    <section class="task-header border-bottom">
        <h2 class="text-center">Create new task list</h2>
    </section>
    <section class="task-body">
        <form class="flex-form" [formGroup]="newTaskListForm" (submit)="saveForm()">
            <div class="m-3">
                <input formControlName="name" type="text" id="name" class="form-control" placeholder="Name">
            </div>

            <div class="btn-group m-3">
                <button mat-raised-button color="primary"  type="submit">Create</button>
                <button mat-raised-button color="warn"   (click)="cancelForm();">Cancel</button>
            </div>
        </form>
    </section>
</div>
